body {
    margin: 10px;
    text-align: center;
    background: radial-gradient(#E66465, #9198E5);
}

table {
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    background: radial-gradient( #46FCBA, #3F5EFB);
}

#addButton {
    margin: 10px 0 0 0;
}